{
	"extends": "react-native-wcandillon",
	"plugins": ["unused-imports"],
	"rules": {
		"prettier/prettier": [
			"warn",
			{
			  "endOfLine": "auto",
			  "trailingComma": "none"
			}
		  ],
		"quotes": "off",
		"camelcase": "off",
		"arrow-body-style": "off",
		"@typescript-eslint/no-explicit-any": "off",
		"prefer-arrow-callback": "off",
		"react-hooks/exhaustive-deps": "off",
		"react-native/no-unused-styles": "warn",
		"comma-dangle": "off",
		"sort-imports": 
		["error", {
		  "ignoreCase": true,
		  "ignoreDeclarationSort": true
		}],
		"import/no-default-export": "off",
		"unused-imports/no-unused-imports": "warn",
		"unused-imports/no-unused-vars" : [
			"warn",
			{
			  "vars": "all",
			  "varsIgnorePattern": "^_",
			  "args": "after-used",
			  "argsIgnorePattern": "^_"
			}
		  ],
		"import/order": [
		  1,
		  {
			"groups": [
			  "builtin", "external", "internal",
			  ["parent", "sibling", "index"]
			],
			"newlines-between": "always"
		  }
		],
	  "react-native/no-inline-styles": "off",
	  "react-native/no-raw-text": "off",
	  "react-native/no-color-literals": "off",
	  "react-native/sort-styles": [
		"error",
		"asc",
		{ "ignoreClassNames": true, "ignoreStyleProperties": false }
	  ]
	  }
  }